#!/bin/bash
# Create blobstore/repository/group to nexus

ADMIN_PASSWORD='{{ nexus_password }}'
NEXUS_PORT='{{ nexus_port }}'
LOCAL_MIRROR_SERVER='{{ local_mirror_server }}'

function valid_ip()
{
    local  ip=$1
    local  stat=1

    if [[ $ip =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
        OIFS=$IFS
        IFS='.'
        ip=($ip)
        IFS=$OIFS
        [[ ${ip[0]} -le 255 && ${ip[1]} -le 255 \
            && ${ip[2]} -le 255 && ${ip[3]} -le 255 ]]
        stat=$?
    fi
    return $stat
}

echo "Create blob store .. start"
curl -u admin:${ADMIN_PASSWORD} -X GET "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores/file" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": null, \"limit\": 0 }, \"path\": \"centos\", \"name\": \"centos\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores/file" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": null, \"limit\": 0 }, \"path\": \"centos-vault\", \"name\": \"centos-vault\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores/file" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": null, \"limit\": 0 }, \"path\": \"epel\", \"name\": \"epel\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores/file" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": null, \"limit\": 0 }, \"path\": \"centos-debuginfo\", \"name\": \"centos-debuginfo\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores/file" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": null, \"limit\": 0 }, \"path\": \"re-raw\", \"name\": \"re-raw\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores/file" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": null, \"limit\": 0 }, \"path\": \"docker-ce\", \"name\": \"docker-ce\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores/file" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": null, \"limit\": 0 }, \"path\": \"kubernetes\", \"name\": \"kubernetes\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores/file" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": null, \"limit\": 0 }, \"path\": \"ubuntu\", \"name\": \"ubuntu\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores/file" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": null, \"limit\": 0 }, \"path\": \"ofed\", \"name\": \"ofed\"}"
curl -u admin:${ADMIN_PASSWORD} -X GET "http://localhost:${NEXUS_PORT}/service/rest/v1/blobstores"
echo "Create blob store .. done"

echo "Create repository .. start"
curl -u admin:${ADMIN_PASSWORD} -X GET "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories" -H "accept: application/json"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-centos-aliyun\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-centos-aliyun\", \"online\": true, \"storage\": { \"blobStoreName\": \"centos\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.aliyun.com/centos/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-centos-bfsu\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-centos-bfsu\", \"online\": true, \"storage\": { \"blobStoreName\": \"centos\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.bfsu.edu.cn/centos/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-epel-aliyun\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-epel-aliyun/\", \"online\": true, \"storage\": { \"blobStoreName\": \"epel\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.aliyun.com/epel/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-epel-bfsu\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-epel-bfsu/\", \"online\": true, \"storage\": { \"blobStoreName\": \"epel\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.bfsu.edu.cn/epel/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-centos-vault-aliyun\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-centos-vault-aliyun\", \"online\": true, \"storage\": { \"blobStoreName\": \"centos-vault\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.aliyun.com/centos-vault/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-centos-vault-bfsu\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-centos-vault-bfsu\", \"online\": true, \"storage\": { \"blobStoreName\": \"centos-vault\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.bfsu.edu.cn/centos-vault/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-centos-debuginfo-cern\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-centos-debuginfo-cern/\", \"online\": true, \"storage\": { \"blobStoreName\": \"centos-debuginfo\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://linuxsoft.cern.ch/centos-debuginfo/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/raw/hosted" -H "Content-Type: application/json" -d "{ \"name\": \"hosted-re-raw\", \"format\": \"raw\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/hosted-re-raw/\", \"online\": true, \"storage\": { \"blobStoreName\": \"re-raw\", \"strictContentTypeValidation\": true, \"writePolicy\": \"ALLOW\" }, \"type\": \"raw\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-docker-ce-tsinghua\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-docker-ce-tsinghua/\", \"online\": true, \"storage\": { \"blobStoreName\": \"docker-ce\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.tuna.tsinghua.edu.cn/docker-ce/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-docker-ce-bfsu\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-docker-ce-bfsu/\", \"online\": true, \"storage\": { \"blobStoreName\": \"docker-ce\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.bfsu.edu.cn/docker-ce/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-ubuntu-tsinghua\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-ubuntu-tsinghua/\", \"online\": true, \"storage\": { \"blobStoreName\": \"ubuntu\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.tuna.tsinghua.edu.cn/ubuntu/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-ubuntu-bfsu\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-ubuntu-bfsu/\", \"online\": true, \"storage\": { \"blobStoreName\": \"ubuntu\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://mirrors.bfsu.edu.cn/ubuntu/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-ofed-mlnx\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-ofed-mlnx/\", \"online\": true, \"storage\": { \"blobStoreName\": \"ofed\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"https://linux.mellanox.com/public/repo/mlnx_ofed\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
curl -u admin:${ADMIN_PASSWORD} -X GET "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories" -H "accept: application/json"
if valid_ip $LOCAL_MIRROR_SERVER ; then
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-centos-local\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-centos-local\", \"online\": true, \"storage\": { \"blobStoreName\": \"centos\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"http://${LOCAL_MIRROR_SERVER}/centos/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-epel-local\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-epel-local\", \"online\": true, \"storage\": { \"blobStoreName\": \"epel\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"http://${LOCAL_MIRROR_SERVER}/epel/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-centos-vault-local\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-centos-vault-local\", \"online\": true, \"storage\": { \"blobStoreName\": \"centos-vault\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"http://${LOCAL_MIRROR_SERVER}/centos-vault/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-centos-debuginfo-local\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-centos-debuginfo-local\", \"online\": true, \"storage\": { \"blobStoreName\": \"centos-debuginfo\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"http://${LOCAL_MIRROR_SERVER}/debuginfo/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-docker-ce-local\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-docker-ce-local/\", \"online\": true, \"storage\": { \"blobStoreName\": \"docker-ce\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"http://${LOCAL_MIRROR_SERVER}/docker-ce/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/proxy" -H "Content-Type: application/json" -d "{ \"name\": \"proxy-ubuntu-local\", \"format\": \"yum\", \"url\": \"http://localhost:${NEXUS_PORT}/repository/proxy-ubuntu-local/\", \"online\": true, \"storage\": { \"blobStoreName\": \"ubuntu\", \"strictContentTypeValidation\": true }, \"cleanup\": null, \"proxy\": { \"remoteUrl\": \"http://${LOCAL_MIRROR_SERVER}/ubuntu/\", \"contentMaxAge\": 1440, \"metadataMaxAge\": 1440 }, \"negativeCache\": { \"enabled\": true, \"timeToLive\": 1440 }, \"httpClient\": { \"blocked\": false, \"autoBlock\": true, \"connection\": { \"retries\": null, \"userAgentSuffix\": null, \"timeout\": null, \"enableCircularRedirects\": false, \"enableCookies\": false }, \"authentication\": null }, \"routingRuleName\": null, \"type\": \"proxy\"}"
fi
echo "Create repository .. done"

echo "Create group .. start"
if valid_ip $LOCAL_MIRROR_SERVER ; then
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"centos\",  \"online\": true, \"storage\": { \"blobStoreName\": \"centos\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-centos-local\", \"proxy-centos-aliyun\", \"proxy-centos-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"centos-vault\",  \"online\": true, \"storage\": { \"blobStoreName\": \"centos-vault\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-centos-vault-local\", \"proxy-centos-vault-aliyun\", \"proxy-centos-vault-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"centos-debuginfo\",  \"online\": true, \"storage\": { \"blobStoreName\": \"centos-debuginfo\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-centos-debuginfo-local\", \"proxy-centos-debuginfo-cern\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"epel\",  \"online\": true, \"storage\": { \"blobStoreName\": \"epel\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-epel-local\", \"proxy-epel-aliyun\", \"proxy-epel-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"docker-ce\",  \"online\": true, \"storage\": { \"blobStoreName\": \"docker-ce\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-docker-ce-local\", \"proxy-docker-ce-tsinghua\", \"proxy-docker-ce-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"ubuntu\",  \"online\": true, \"storage\": { \"blobStoreName\": \"ubuntu\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-ubuntu-local\", \"proxy-ubuntu-tsinghua\", \"proxy-ubuntu-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
else
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"centos\",  \"online\": true, \"storage\": { \"blobStoreName\": \"centos\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-centos-aliyun\", \"proxy-centos-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"centos-vault\",  \"online\": true, \"storage\": { \"blobStoreName\": \"centos-vault\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-centos-vault-aliyun\", \"proxy-centos-vault-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"centos-debuginfo\",  \"online\": true, \"storage\": { \"blobStoreName\": \"centos-debuginfo\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-centos-debuginfo-cern\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"epel\",  \"online\": true, \"storage\": { \"blobStoreName\": \"epel\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-epel-aliyun\", \"proxy-epel-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"docker-ce\",  \"online\": true, \"storage\": { \"blobStoreName\": \"ubuntu\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-docker-ce-tsinghua\", \"proxy-docker-ce-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"ubuntu\",  \"online\": true, \"storage\": { \"blobStoreName\": \"ubuntu\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-ubuntu-tsinghua\", \"proxy-ubuntu-bfsu\" ] }, \"yumSigning\": { \"keypair\": \"string\",  \"passphrase\": \"\" }}"
    curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/yum/group" -H "Content-Type: application/json" -d "{ \"name\": \"mlnx_ofed\",  \"online\": true, \"storage\": { \"blobStoreName\": \"ofed\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"proxy-ofed-mlnx\" ] }}"
fi
curl -u admin:${ADMIN_PASSWORD} -X POST "http://localhost:${NEXUS_PORT}/service/rest/v1/repositories/raw/group" -H "Content-Type: application/json" -d "{ \"name\": \"re-raw\",  \"online\": true, \"storage\": { \"blobStoreName\": \"re-raw\", \"strictContentTypeValidation\": true }, \"group\": { \"memberNames\": [ \"hosted-re-raw\" ] }}"
echo "Create group .. done"
