{{ ansible_managed | comment }}

{% if groups['kvm'] is defined %}
{% if groups['kvm'] != [] %}

# service for kvm
define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     PING
    check_command           check-host-alive
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     SSH
    check_command           check_ssh
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     CPU
    check_command           check_nrpe!check_load
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     Memory
    check_command           check_nrpe!check_mem
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     Swap
    check_command           check_nrpe!check_swap
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     Dir_usage
    check_command           check_nrpe!check_dir_usage
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     Chronyd
    check_command           check_nrpe!check_service_chronyd
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     Audit
    check_command           check_nrpe!check_service_auditd
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     Ganglia-gmond
    check_command           check_nrpe!check_service_gmond
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     Autofs
    check_command           check_nrpe!check_service_autofs
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     Libvirtd
    check_command           check_nrpe!check_service_libvirtd
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          kvm
    service_description     RAID
    check_command           check_nrpe!check_raid
    notifications_enabled   1
}

{% endif %}
{% endif %}
