{{ ansible_managed | comment }}

{% if groups['sge_execution'] is defined %}
{% if groups['sge_execution'] != [] %}

# service for sge_execution
define service{
    use                     generic-service,graphed-service
    hostgroup_name          sge_execution
    service_description     PING
    check_command           check-host-alive
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          sge_execution
    service_description     SSH
    check_command           check_ssh
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          sge_execution
    service_description     Dir_usage
    check_command           check_nrpe!check_dir_usage
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          sge_execution
    service_description     Chronyd
    check_command           check_nrpe!check_service_chronyd
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          sge_execution
    service_description     Audit
    check_command           check_nrpe!check_service_auditd
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          sge_execution
    service_description     Ganglia-gmond
    check_command           check_nrpe!check_service_gmond
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          sge_execution
    service_description     NIS-ypbind
    check_command           check_nrpe!check_service_ypbind
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          sge_execution
    service_description     Autofs
    check_command           check_nrpe!check_service_autofs
    notifications_enabled   1
}

define service{
    use                     generic-service,graphed-service
    hostgroup_name          sge_execution
    service_description     SGE_execd
    check_command           check_nrpe!check_service_sge_execd
    notifications_enabled   1
}

{% endif %}
{% endif %}
