{{ ansible_managed | comment }}

# default local
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# import grendel hosts here
# import etc.hosts.local here
