[defaults]
roles_path = roles
log_path = /var/log/re-ansible.log
deprecation_warnings = False
callback_whitelist = ansible.posix.profile_tasks
inventory_plugins = ./plugins
inventory_ignore_extensions = ~, .orig, .bak, .cfg, .retry, .pyc, .pyo

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, re_inventory_csv
cache = False
